In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('athyg_31_reduced_m10.csv')
print(df1.shape)
df1=df1[['hip','dist','x0','y0','z0','absmag','mag','vx','vy','vz','spect']]
df1

(330341, 34)

,hip,dist,x0,y0,z0,absmag,mag,vx,vy,vz,spect
0,NaN,0.0000,0.000005,0.000,0.000,4.850,-26.700,NaN,NaN,NaN,G2 V
1,NaN,509.1956,506.856000,0.003,-48.754,0.705,9.239,-19.904,54.306,-25.490,G8 IV
2,1.0,219.7802,219.741000,0.003,4.177,2.390,9.100,0.037,-5.418,-1.958,F3 V
3,NaN,817.1342,696.482000,0.041,427.341,-0.548,9.013,42.830,35.891,4.105,K2
4,2.0,37.3164,35.176000,0.003,-12.456,6.411,9.270,6.375,31.807,-2.454,K3 V
...,...,...,...,...,...,...,...,...,...,...,...
330336,NaN,2931.5317,1284.928000,-0.424,2634.926,-2.594,9.741,18.272,-51.160,-8.919,A1IA
330337,NaN,297.8780,88.998000,-0.027,284.272,0.791,8.161,15.289,-18.917,-23.038,K0
330338,NaN,177.7927,173.282000,-0.047,-39.793,3.528,9.778,24.590,-4.339,-19.176,F5
330339,NaN,212.4770,199.617000,-0.042,-72.797,2.917,9.554,19.501,70.668,-18.238,G8 IV
330340,NaN,642.0524,568.439000,-0.101,-298.509,0.126,9.164,-5.918,58.495,8.161,K2 III

#### Data Description

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330341 entries, 0 to 330340
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   hip     108606 non-null  float64
 1   dist    327722 non-null  float64
 2   x0      327722 non-null  float64
 3   y0      327722 non-null  float64
 4   z0      327722 non-null  float64
 5   absmag  327722 non-null  float64
 6   mag     330341 non-null  float64
 7   vx      327721 non-null  float64
 8   vy      327721 non-null  float64
 9   vz      327721 non-null  float64
 10  spect   275297 non-null  object
dtypes: float64(10), object(1)
memory usage: 27.7+ MB

#### Dropping Values with missing X,Y,Z values and spect for now

In [4]:
df1 = df1.dropna(subset=['x0','y0','z0','vx','vy','vz','spect'],)

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 273274 entries, 1 to 330340
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   hip     107867 non-null  float64
 1   dist    273274 non-null  float64
 2   x0      273274 non-null  float64
 3   y0      273274 non-null  float64
 4   z0      273274 non-null  float64
 5   absmag  273274 non-null  float64
 6   mag     273274 non-null  float64
 7   vx      273274 non-null  float64
 8   vy      273274 non-null  float64
 9   vz      273274 non-null  float64
 10  spect   273274 non-null  object
dtypes: float64(10), object(1)
memory usage: 25.0+ MB

#### Analysing the Spect column and checking for the first characters that do not lie in 'OBAFGKM'

In [6]:
temp = [str(x) for x in df1['spect'] if str(x)[0] not in ['O','B','G','A','F','G','K','M']]
print(temp)

['C91', 'S7. 3E', 'CH', 'N', 'N', 'C8', 'R5(C45)', 'N', 'R2', 'DG', 'R2', 'R...', 'CE', '(B8)III', 'DELTA DEL', 'N', 'C', 'N0v', 'R5', 'sdF2:', 'DAs', 'C0ev', 'DF', 'R0', 'S5.1', 'N0v', 'R0', 'DA9N', 'DA', 'CH', '(A0)II', '(B7)I', 'R...', 'Se', 'DA', 'R5(C45)', 'C', 'Npvar', 'CH', 'C0e', 'N', 'S5.3', 'C', 'R0', 'R8(C53)', ':S4.2', 'Ce+...', 'R...', 'sdG4', 'C', 'DELTA DEL', 'R4', 'N', 'N', 'N', 'N', 'S4.2', 'C7,6E', 'sdF0:', 'N', 'C(S)', 'N', 'C', 'S', 'N', 'N0', 'N', 'N0v', 'N', 'R8', '(B9)', 'C', 'R8E', 'R2', 'N', 'N', 'N', 'N', 'DELTA DEL', 'N', 'DELTA DEL', 'S', 'N', 'R...', 'N0v', 'N', 'N0', 'Pec', 'N', 'N', 'R', 'N', 'S5.5,2', '(B0)III', 'N(C83)', 'N0v', 'S8.5', 'N', 'C', 'N', 'DELTA DEL', 'N0', 'DAn', 'S5.1', '(G) (II) + A/F', 'C', 'WN', 'C', 'DELTA DEL', 'N0v', '(B8)IV', 'R6pv', 'N', 'C', 'SE', 'N', 'S39e', 'C', 'CE', '(A2 II) + (F)PEC', 'N', 'sdG5:', 'C', 'C', 'C', 'R4', 'R4', 'S', 'R6', 'N', 'C', 'S', 'S', 'R6', 'S', 'R8', 'sdG2', 'S42e', 'C', 'NV...', '(K1 III + F/G)', 'RP', 'C', 'C', 'WC 8', 'DELTA DEL', 'C', 'R8', 'SE', 'NE', 'N', 'N...', '(G8) III + A', 'DELTA DEL', '(G)', 'C(R)e', 'R0', 'C', 'Ce', 'WC', 'N', 'R6v', 'R2', 'R1', 'R0', 'R5', 'DEL DEL:', 'R4(C44)', 'C', '(B)E', '(F0) (V)', '(G) + A/F', 'WN', '(F) + (F)', 'sdF5', 'C', 'C', 'R3', 'WN', 'C', 'C', 'NOVA-LIKE E', 'R0', 'CH', '6IV', 'C', 'WR', '(A3) IAB/B', '(K1) + (F)', 'C', 'C', 'C', 'WN', 'WC', 'WN', 'WN', 'N', 'C', 'N', 'PECULIAR E', 'WN', 'C', 'WC', 'C', 'CH', 'DA', 'C', 'DC:', 'C', 'C', 'S', '(M0/2)', 'sdF8:', 'C', '(B) + K2/3 (III)', 'SC45/8e', '(F)', 'C', 'C', 'C', 'C', 'DELTA DEL', 'S1.5.9E', 'N', 'R0', 'N', 'R', 'WC + O9.5/B0 IAB', '(S)', 'SC', 'WC', 'C', 'S2.5,9:', '(S)', 'C', 'R0', '(G3W)F7', 'DA', 'C', 'PECE', 'CE', 'DA:', 'WC', 'C', 'R2', 'C', 'C', '(F)', '(B)P', 'S2.9E:', 'C', 'C', 'S4', 'C', 'C', 'R0', 'C', 'C', 'R0', 'WC', 'C', 'C', 'WR', '(B5)V', '(O8/9)', '(B8)V', 'NEP', 'C', 'C', 'C', 'C', 'R0', 'DA', 'C', 'WN', 'WC', 'WN', '(F/K + A)', 'C', 'Ne', 'Ce(R-Nb)', 'C12', 'C', 'WC', 'WC', 'N', 'S5.4', 'S', 'R3', 'C', 'C', 'C', 'R0', 'C', 'NE', 'Nevar', 'sdM4', 'R...', 'WC', 'R5', 'WC', 'WC', 'R4', 'WC', 'C', '(O9) IA', '(B1/7) IAE', '(A2/3MA5-A8/F0)', 'C', 'C', 'N', 'C8', 'C', 'S4.58', 'N', 'C', 'C', 'C', 'C6II', 'C', 'dM0', 'C', 'N', 'C', '(G)', 'S7.2', '(CS)', 'R3', 'CPEC', 'C', 'DAw...', 'N', 'C', 'R5', '(F2II)', 'N0v', 'C', 'WC8', 'N', 'C', '(B3)IV', 'R0', 'CH', 'S', 'N', 'C', 'N', 'N', 'dK0', 'S7.5', 'N', 'R3', 'N0v', 'WN', 'N', 'WR', 'WN6', 'N', 'R0', 'WC', 'SE', 'WN5', 'WN5', 'C', '07+08', 'WR', 'Cme', 'WN', '(F5IAB)', '(G2I)', 'S5.8', 'C', 'DA', 'DELTA DEL', 'C7.4e', 'DAw', 'R2', 'R0', 'N0', 'DELTA DEL', '(09V)', 'PLANETARY', '(G)W', 'C', '(C)', 'R1', 'C', 'N0v', 'C', 'C6II', 'N', 'N', 'N', 'C', 'WN6 + M3III', 'DA:', 'N', 'R3', 'N', 'R2', 'C9e', 'S', '(G/K)', 'R0', '(G0)W(A)', 'sdG2', '(F)', 'N', 'R', 'S49e', 'S5.1', 'N', 'C3.4v', 'R...', 'R2', 'C', 'WN5', 'sdM:', 'N', 'R3E(C31)', 'R2', 'NE']

#### There are some brackets we can remove which are observed up

In [7]:
df1['spect'] = df1['spect'].apply(lambda x: x.replace('(','').replace(')','')[0])

/var/folders/gq/1zg776tn7k582cx2hmn0jkhw0000gn/T/ipykernel_56192/2803047862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['spect'] = df1['spect'].apply(lambda x: x.replace('(','').replace(')','')[0])

In [8]:
df1 = df1[df1['spect'].isin(['O','B','A','F','G','K','M'])]
df1['spect'].unique()

array(['G', 'F', 'K', 'B', 'M', 'A', 'O'], dtype=object)

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272891 entries, 1 to 330340
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   hip     107546 non-null  float64
 1   dist    272891 non-null  float64
 2   x0      272891 non-null  float64
 3   y0      272891 non-null  float64
 4   z0      272891 non-null  float64
 5   absmag  272891 non-null  float64
 6   mag     272891 non-null  float64
 7   vx      272891 non-null  float64
 8   vy      272891 non-null  float64
 9   vz      272891 non-null  float64
 10  spect   272891 non-null  object
dtypes: float64(10), object(1)
memory usage: 25.0+ MB

In [10]:
#### Converting velocity to parsecs per year from km/s
df1['vx'] = df1['vx']
df1['vy'] = df1['vy']
df1['vz'] = df1['vz']

In [11]:
df1.to_csv('athyg_31_reduced_m10_cleaned.csv',index=False)

### Creating a subset of columns for now

In [12]:
df1.reset_index(drop=True,inplace=True)
df1_subset = df1.copy()
df1_subset

,hip,dist,x0,y0,z0,absmag,mag,vx,vy,vz,spect
0,NaN,509.1956,506.856,0.003,-48.754,0.705,9.239,-19.904,54.306,-25.490,G
1,1.0,219.7802,219.741,0.003,4.177,2.390,9.100,0.037,-5.418,-1.958,F
2,NaN,817.1342,696.482,0.041,427.341,-0.548,9.013,42.830,35.891,4.105,K
3,2.0,37.3164,35.176,0.003,-12.456,6.411,9.270,6.375,31.807,-2.454,K
4,3.0,334.1479,260.197,0.023,209.648,-1.010,6.610,2.390,9.126,-2.968,B
...,...,...,...,...,...,...,...,...,...,...,...
272886,NaN,2931.5317,1284.928,-0.424,2634.926,-2.594,9.741,18.272,-51.160,-8.919,A
272887,NaN,297.8780,88.998,-0.027,284.272,0.791,8.161,15.289,-18.917,-23.038,K
272888,NaN,177.7927,173.282,-0.047,-39.793,3.528,9.778,24.590,-4.339,-19.176,F
272889,NaN,212.4770,199.617,-0.042,-72.797,2.917,9.554,19.501,70.668,-18.238,G
272890,NaN,642.0524,568.439,-0.101,-298.509,0.126,9.164,-5.918,58.495,8.161,K

In [13]:
idx_drop = []
for i in range(0,len(df1_subset)):
    if df1_subset.iloc[i]["dist"] > 25:
        if pd.isna(df1_subset.iloc[i]["hip"]):
            idx_drop.append(i)

In [14]:
df1_subset.drop(idx_drop,inplace=True)
df1_subset

,hip,dist,x0,y0,z0,absmag,mag,vx,vy,vz,spect
1,1.0,219.7802,219.741,0.003,4.177,2.390,9.10,0.037,-5.418,-1.958,F
3,2.0,37.3164,35.176,0.003,-12.456,6.411,9.27,6.375,31.807,-2.454,K
4,3.0,334.1479,260.197,0.023,209.648,-1.010,6.61,2.390,9.126,-2.968,B
6,4.0,136.7402,84.386,0.013,-107.596,2.381,8.06,-7.487,40.165,10.906,F
7,5.0,383.8020,291.448,0.051,-249.724,0.629,8.55,25.495,1.863,-0.923,G
...,...,...,...,...,...,...,...,...,...,...,...
272875,118318.0,398.4064,390.166,-0.247,80.613,-1.012,6.99,-0.801,-4.079,3.866,K
272881,118319.0,94.5218,87.372,-0.039,-36.062,3.352,8.23,5.940,65.876,10.583,G
272882,118320.0,243.5510,242.236,-0.101,25.274,0.657,7.59,3.442,24.223,-41.016,K
272884,118322.0,108.8707,45.015,-0.016,-99.129,-0.695,4.49,-6.402,24.944,-14.992,B
272885,118321.0,53.4659,23.125,-0.008,-48.206,5.560,9.20,30.846,54.889,-1.561,G

In [15]:
df1_subset.to_csv('athyg_31_reduced_m10_cleaned_subset.csv',index=False)