In [1]:
import pandas as pd

In [2]:
exo_df = pd.read_csv('exoplanet.csv')
exo_df.head()

    hip_name  sy_pnum
0  HIP 60202        1
1  HIP 60202        1
2  HIP 60202        1
3  HIP 74793        1
4  HIP 74793        1

In [3]:
exo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35896 entries, 0 to 35895
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   hip_name  2782 non-null   object
 1   sy_pnum   35896 non-null  int64
dtypes: int64(1), object(1)
memory usage: 561.0+ KB

In [4]:
exo_df.dropna(inplace=True)
exo_df.reset_index(drop=True, inplace=True)
exo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2782 entries, 0 to 2781
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   hip_name  2782 non-null   object
 1   sy_pnum   2782 non-null   int64
dtypes: int64(1), object(1)
memory usage: 43.6+ KB

In [5]:
exo_df['hip_name'].value_counts()

HIP 43587       55
HIP 94931       50
HIP 2736        25
HIP 113020      25
HIP 114622      25
                ..
HIP 16711        1
HIP 60093        1
HIP 116132 A     1
HIP 84787        1
HIP 109876       1
Name: hip_name, Length: 719, dtype: int64

In [6]:
exo_df.head()

    hip_name  sy_pnum
0  HIP 60202        1
1  HIP 60202        1
2  HIP 60202        1
3  HIP 74793        1
4  HIP 74793        1

In [7]:
for i in range(len(exo_df)): 
    try:
        if len(exo_df['hip_name'][i].split(' ')) > 1:
            val = exo_df['hip_name'][i].split(' ')[1]
            exo_df['hip_name'][i] = val
    except Exception as e:
        print(i,e,exo_df['hip_name'][i])
exo_df

/var/folders/gq/1zg776tn7k582cx2hmn0jkhw0000gn/T/ipykernel_49020/4231088891.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exo_df['hip_name'][i] = val

     hip_name  sy_pnum
0       60202        1
1       60202        1
2       60202        1
3       74793        1
4       74793        1
...       ...      ...
2777     7513        3
2778     7513        3
2779    97938        1
2780    97938        1
2781    97938        1

[2782 rows x 2 columns]

In [8]:
exo_df = exo_df.groupby('hip_name').max()
exo_df.reset_index(inplace=True)
exo_df

    hip_name  sy_pnum
0      10037        3
1      10085        1
2     100970        1
3      10117        1
4     101252        1
..       ...      ...
712    99699        1
713    99711        1
714    99770        1
715    99825        2
716    99894        1

[717 rows x 2 columns]

In [9]:
exo_df.to_csv('exoplanet_cleaned.csv', index=False)

In [11]:
exo_df['sy_pnum'].unique()

array([3, 1, 2, 4, 6, 5])

In [12]:
exo_df[exo_df["hip_name"]==""].shape

(0, 2)